body{
    margin:0;
    padding:0;
    font-family: 'Karla', sans-serif;
    clear: both;
    background-color: white;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display','sarif';
}
form{
    background-color: cornflowerblue;
    width: 50%;
    margin-left: 25%;
    height: 80vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form div{
    margin: 4% 0;
    width: 80%; 
    height: 15%;
    
}
body h1{
    margin-left: 45%;
}
form div p{
    font-weight: bold;
    font-size: 150%;
    margin: 0;
}
form div label{
    color: red;
}
form div input{
    width: 100%;
    height: 40%;
}
form div textarea{
    width: 100%;
    height: 70%;
}
form #submit{
    margin-top: 5%;
    width: 50%;
    height: 10%;
    align-self:center;
    justify-self: center;
}

