.footer{
    width: 100%;
}


.footer {
    background-color: whitesmoke;
    width: 100%;
    margin-top: 11%;
    position: relative;
}

.footer .img{
    position: absolute;
    z-index: 0;
    width: 35%;
    height: 62%;

}

footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    height: 48vh;
}

.mainFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:15vh;
}
.mainFooter div img{
    position: absolute;
    z-index: 1;
}
footer .mainFooter ul{
    margin: 0;
    padding: 0;
    width: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
footer .mainFooter ul li{
    width: 15%;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .mainFooter ul li a{
    width: 100%;
}
footer .mainFooter ul li a img{
    width: 100%;
    float: right;
}
footer hr {
    width: 100%;
}

footer .row{
    display: flex;
    justify-content: flex-start;
    margin-top:4%;
    height: 50%;
    
}
footer .row section{
    width: 25%;
    height: 100%;
}

footer .row section ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

footer .row section ul li{
    list-style: none;
    height: 25%;
    padding-top:.7vw ;
}
footer .row section ul li a{
    text-decoration: none;
    position: absolute;
    z-index: 1;
    color: black;
    font-size: 1.1vw;
}
footer .row section ul li a:hover{
    text-decoration: underline;
}
footer .row section ul .head1{
    padding-top: 0;
    
}
footer .row section ul .head1 a{
    color: gray;
}   
footer .row section ul .head1 a:hover{
    text-decoration: none;
}

