#container{
    margin: 0 auto;
    width: 80%;
    display: block;
    position: static;
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vw;
    background-color: white;
    }

header div{
    width: 10%;
    margin: 0 22.5% 0 0;
}
header .logo{
    width :100%
}
header nav{
    float: right;
    margin: 0 0 0 22.5%;
}


header nav ul{
    display: flex;
    width: 100%;
    float: right;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
   
}

header nav ul li{
    margin: 0;
    padding: 0;
}
header nav ul li a{
    font-size: 1.2vw;
    padding: 1vw;
    text-decoration: none;
    display: block;
}
.restTitle{
    color: grey;
}

.restTitle:hover{
    color: black;
}

.viewPlans{
    text-decoration: none;
    border:1px solid black;
    color: black;
    
}

.viewPlans:hover{
    color: white;
    background-color: black;
}
