

body{
    margin:0;
    padding:0;
    font-family: 'Karla', sans-serif;
    clear: both;
    background-color: white;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display','sarif';
}
#container_section{
    margin: 0 auto;
    width: 80%;
    
}

.color{
    position: relative;
    width: 100%;
    background-color: #2d2640;
    height: 44vw;
    padding: 0;
    margin-bottom: 20vw;
}

.layer1 {
    position: absolute;
    z-index: 1;
    height:62vw;
    margin: 0;
    top:0;
    width: 100%;
    padding: 0;
}


.layer1 .right{
    float: right;
    height: 60%;
}
.layer1 .left{
    margin: 35% 0 0 0;
    padding: 0;
    height: 43%;
}

.layer1 hr{
    padding-top: 0;
    margin: 0;
    margin-left: 10%;
    width: 9.5%;
}


#elementNav{
    position: absolute;
    padding-top: 7.8vw;
    width: 80%;
    flex-direction:row;
    display: flex;
    color: white;
    margin: 0 10% 0 10%;

}

section{
    width: 50%;
    margin: 0;
}

hr{ 
    width: 25.5%;
    margin:0; 
}

#elementNav aside{
    width: 50%; 
    margin: 0;
}
.centerImage{
    width: 100%;
    margin: 0;
  
}

.para-heading{
    font-size: 4.9vw;
    line-height: 4.5vw;
    margin: 10% 0 0 0 ;
}

#elementNav section p{
    font-size: 1.2vw;
    line-height: 1.7vw;
    margin-top: 5%;
}

#elementNav .viewInnerButton{
    margin-top: 5%;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-size: 1.2vw;
    padding: 1vw;
    position: absolute;
    z-index: 2;
    
}

#elementNav .viewInnerButton:hover{
    color: black;
    background-color: white;
}


#container_section{
    margin: 0 auto;
    padding-top: 1%;
    width:80%;
    flex-direction: column;
}

.heading_different{
    margin: 3% 0 0 0;
    color: #2B272F;
    font-size: 5VW;
    font-family: "DM Serif Display";
    font-weight: lighter;
}
.row{
    width:100%;
    margin: 5% 0 0 0%;
    display: flex;
    justify-content: space-between;
}
.row .column img{
    margin: 0;
    padding: 0;
    width:25%
}
.column h1{
    font-size: 2.5VW;
    margin: 7% 0 0 0;
}

.column p{
    margin: 7% 0 0  0;
    font-family: "Karla";
    font-size: 1.3vw;
    line-height: 2vw;
    color: grey;
    text-align: start;
}

.howWeWork{
    background-color: #2D2640;
    width: 100%;
    height: 17vw;
    margin-top: 15%;
}

.howWeWork img{
   right: 0;
   margin: 0;
   padding: 0;
   height: 100%;
   float: right;
   position: relative;
   
   
    
}
.howWeWork section{
    width: inherit;
}
.paraFindOutMore{
    color: white;
    font-weight: bold;
    font-size: 4vw;
    margin-left: 7%;
    line-height: 3.8VW;
  
}
.howWeWork .flex{
    display: flex;
    width: 80%;
    height: 17vw;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    align-items: center;
}


.addFeature{
    text-decoration: none;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    letter-spacing: .1vw;
    text-transform: uppercase;
    padding: 1vw;
    border-width: .15vw;
    margin-right: 5%;
    font-size: 1.2vw;
}

.addFeature:hover{
    color: black;
    background-color: white;
}  

